body { 
    text-align: center;
    background-color: aliceblue;
}

.weather {
    border: 1px solid black;
    width: 500px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    background-color: whitesmoke;
}

#degrees, #description {
    font-size: 30px;
    margin-top: 35px;
    float: right;
    margin-right: 10px;
}

#degrees {
    margin-top: 40px;
}

img {
    border: 1px solid black;
    float: left;
    width: 150px;
    margin-top: 6px;
    margin-left: 6px;
}
